<%= form_for @library, :html => {:multipart => true} do |f| %>   
  <p>
    <label>My Avatar</label>
    <%= image_tag(@library.avatar_url) if @library.avatar? %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
    <%= f.submit 'Добавить', class: "btn btn-success" %>
<% end %>